.mainApp{
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/bg1.jpg');
  overflow-x: hidden;
  background-size: 100% 100%;
}

.mainAppChild{
  /*height: 80vh;*/
  /*background-color: rgba(255,255,255,0.5);*/

}
